@*@{
    ViewData["Title"] = "Privacy Policy";
}

@model Hotel
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

*@
<div id="booking" class="section">
	<div class="section-center">
		<div class="container">
			<div class="row">
				<div class="booking-form">
					<div class="form-header">
						<h1>Make your reservation</h1>
					</div>
					<form>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<span class="form-label">Check In</span>
									<input class="form-control" type="date" required>
								</div>
								<span class="in-out hidden-xs hidden-sm">&#8652;</span>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<span class="form-label">Check out</span>
									<input class="form-control" type="date" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<span class="form-label">No of rooms</span>
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select>
									<span class="select-arrow"></span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<span class="form-label">Adults</span>
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select>
									<span class="select-arrow"></span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<span class="form-label">Children</span>
									<select class="form-control">
										<option>0</option>
										<option>1</option>
										<option>2</option>
									</select>
									<span class="select-arrow"></span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-btn">
									<button class="submit-btn">Check availability</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>



@*
<section style=" background-color: #0f2453;">
    <!--START:Packages-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 pt-5 col-sm-12 pl-5">
                <div class="ih-item square effect13">
                    <a href="bali.html">
                        <div class="img">
                            <img class="img-fluid" src="~/images/slideshow/calluna_infinity_pool_room_large.jpg" alt="...">
                        </div>
                        <div class="info">
                            <h3>BALI</h3>
                            <p>Bali Island is a small beautiful island and a part of Indonesia archipelago.Blessed with sea temples, volcanic mountains, coral reefs, gorgeous beaches, and verdant rice fields, Bali is a mesmerizing Indonesian island which every traveler aims to explore.In 2010, Bali received Travel and Leisure award which was presented at World’s Best Award 2010 in New York on 21 July 2010.Bali is a fantastic honeymoon destination. The tropical paradise of Bali was made for lovers.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 pt-5 col-sm-12 pl-5">
                <div class="ih-item square effect13">
                    <a href="goa.html">
                        <div class="img">
                            <img class="img-fluid" src="~/images/slideshow/calluna_infinity_pool_room_large.jpg" alt="...">
                        </div>
                        <div class="info">
                            <h3>GOA</h3>
                            <p>
                                The state of Goa, in India, is famous for its Beautiful beaches,nightlife party, Safety & Hospitality, carnival , Water sports.

                                Beautiful beaches: Goa More than 70 beaches. The most popular beach of Goa is a Baga beaches. This is the best beaches in Goa. Where you can Enjoy a lot.There So many popular Bar and Pubs are there every corner of the Goa. You can Enjoy a night out party in Goa.Every February, Goa comes alive to celebrate the carnival. A festival that dates back to the Portuguese era, it is celebrated with great pomp throughout the state, with the Catholic community leading the charge.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 pt-5 col-sm-12 pl-5">
                <div class="ih-item square effect13">
                    <a href="maldives.html">
                        <div class="img">
                            <img class="img-fluid" src="~/images/slideshow/calluna_infinity_pool_room_large.jpg" alt="...">
                        </div>
                        <div class="info">
                            <h3>MALDIVES</h3>
                            <p>Maldives is well known for its crystalline waters with beautiful shades of blue, swaying palm trees, and sparkling white sand under the limitless blue skies. With good weather throughout most of the year, Maldives makes a great choice for an idyllic beach getaway. It is the ultimate dream of luxury and tranquility.A trip to the Maldives is an ultimate vacation where you get to enjoy a combination of nature, luxury and privacy. Sandbank dining is definitely one of the most serene and romantic experiences in Maldives. Enjoy the sandbank in private with your special other half on the stark white sand while being surrounded by the endless Indian Ocean. Savour your meal as you witness the first rays of morning light on the horizon.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section><!--END:Packages--> *@